$start: 0;
$end: $hamburgers - 1;

& {
  margin: auto 0;
  > div {
    width: 25px;
    height: 2px;
    background-color: $o-grey;
    margin: 6px 0;
  }
  @for $i from $start through $end {
    .bar-#{$i} {
      @if ($i == $end) or ($i == $start) {
        transition: background-color .2s (.1s * $i), transform .4s;
      } @else {
        transition: background-color .2s (.1s * $i), opacity .2s;
      }
    }
    &:hover .bar-#{$i} {
      background-color: white;
    }
    &.showing .bar-#{$i} {
      @if $i == $start {
        transform: translateY(8px) rotate(-45deg);
      } @else if $i == $end {
        transform: translateY(-8px) rotate(45deg);
      } @else {
        opacity: 0;
      }
    }
  }
}
