& {
  .portfolio-container {
    overflow: hidden;
  }

  .portfolio-title {
    font-style: oblique;
    font-variant: small-caps;
    font-size: 3em;
    text-align: left;
    padding-left: .25em;
    margin: .25em .25em 1em .25em;
    text-shadow: 0 0 1px black;
    animation: from-right .4s;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 3px -3px black;
  }
}
